<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en"> 
<!--<![endif]-->
<head>

	    <!-- ==============================================
		Title and Meta Tags
		=============================================== -->
		<meta charset="utf-8">
        <title>The Kafe - Ultimate Freelance Marketplace Template</title>
        <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="description" content="Add your business website description here">
        <meta name="keywords" content="Add your, business, website, keywords, here">
        <meta name="author" content="Add your business, website, author here">
		
		<!-- ==============================================
		Favicons
		=============================================== --> 
		<link rel="shortcut icon" href="img/favicons/favicon.ico">
		<link rel="apple-touch-icon" href="img/favicons/apple-touch-icon.png">
		<link rel="apple-touch-icon" sizes="72x72" href="img/favicons/apple-touch-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="114x114" href="img/favicons/apple-touch-icon-114x114.png">
		
	    <!-- ==============================================
		CSS
		=============================================== -->
        <!-- Style-->
        <link href="css/style.css" rel="stylesheet" type="text/css" />
				
		<!-- ==============================================
		Feauture Detection
		=============================================== -->
		<script src="js/modernizr-custom.js"></script>
		
		<!--[if lt IE 9]>
		 <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->		
		
</head>

<body class="greybg">

     <!-- ==============================================
	 Navbar
	 =============================================== -->
	 <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
       <!-- Brand and toggle get grouped for better mobile display -->
	   <a class="navbar-brand"><i class="fa fa-coffee"></i> The Kafe.</a>
       <input type="checkbox" id="toggle" />
	   <label for="toggle" class="toggle"></label>

       <!-- Collect the nav links, forms, and other content for toggling -->
		<ul class="menu">
		 <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Home <b class="caret"></b></a>
		  <ul class="dropdown-menu">
		   <li><a href="index.html">Home #1</a></li>
		   <li><a href="index-2.html">Home #2</a></li>
		   <li><a href="index-3.html">Home #3</a></li>
		  </ul>
		 </li> 	
		 <li><a href="about.html">About</a></li>
		 <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Jobs <b class="caret"></b></a>
		  <ul class="dropdown-menu">
		   <li><a href="jobs.html">Jobs</a></li>
		   <li><a href="jobpost.html">Job Post</a></li>
		  </ul>
		 </li>    
		 <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Freelancers <b class="caret"></b></a>
		  <ul class="dropdown-menu">
		   <li><a href="services.html">Services</a></li>
		   <li><a href="servicepage.html">Service Page</a></li>
		   <li><a href="freelancer.html">Freelancer Profile</a></li>
		  </ul>
		 </li> 
		 <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">How it works <b class="caret"></b></a>
		  <ul class="dropdown-menu">
		   <li><a href="how-1.html">How #1</a></li>
		   <li><a href="how-2.html">How #2</a></li>
		  </ul>
		 </li> 
		 <li><a href="login.html">Login</a></li>
		 <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Register <b class="caret"></b></a>
		  <ul class="dropdown-menu">
		   <li><a href="signup.html">Sign Up</a></li>
		   <li><a href="register.html">Register</a></li>
		  </ul>
		 </li> 
		 <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Pages <b class="caret"></b></a>
		  <ul class="dropdown-menu">
		    <li><a href="contact.html">Contact</a></li>
			<li><a href="blog.html">Blog</a></li>
			<li><a href="blogpage.html">Blog Page</a></li>
			<li><a href="faq.html">FAQ</a></li>
		  </ul>
		 </li> 	
		</ul><!-- /.ul.menu -->
      </div><!-- /.container -->
     </nav><!-- /.nav -->
	 
	 
     <!-- ==============================================
	 Header
	 =============================================== -->	 
	 <header class="header-jobpost">
      <div class="container">
	   <div class="content">
	    <div class="row">
		 <div class="col-lg-4 col-lg-offset-8 col-md-4 col-md-offset-8 col-sm-6 col-xs-12 animations fade-left d2">
		  <a href="jobpost.html" class="kafe-btn kafe-btn-mint full-width revealOnScroll" data-animation="bounceIn" data-timeout="400"><i class="fa fa-star"></i> Bookmark This Job</a>
		 </div><!-- /.col-lg-3 -->
		 
        </div><!-- /.row -->
       </div><!-- /.content -->
	  </div><!-- /.container -->
     </header><!-- /header -->
	 
     <!-- ==============================================
	 Job Post Section
	 =============================================== -->
     <section class="jobpost">
	  <div class="container">
	   <div class="row">
	    <div class="col-lg-8 white">
		
		 <div class="row">
		  <div class="col-lg-12">
		   <h6><a href="jobs.html">Categories / Web Design & IT</a></h6>
           <h4>Code Ebay store and listing design to be mobile responsive.</h4>
           <hr class="small-hr">
		  </div>		
		 </div> 
		 
		 <div class="row post-top-sec">
		  <div class="col-lg-3">
		   <h5> Posted </h5>
		   <p>4 Hours Ago</p>
		  </div><!-- /.col-lg-3 -->
		  <div class="col-lg-3">
		   <h5> Location </h5>
		   <p><i class="fa fa-map-marker"></i> Kenya</p>
		  </div><!-- /.col-lg-3 -->
		  <div class="col-lg-3">
		   <h5> Budget </h5>
		   <p>$220</p>
		  </div><!-- /.col-lg-3 -->
		  <div class="col-lg-3">
		   <h5> Applicants </h5>
		   <p>15</p>
		  </div><!-- /.col-lg-3 -->
		  
		  <div class="col-lg-12">
           <hr class="small-hr">
		  </div> <!-- /.col-lg-12 -->
		 </div><!-- /.row -->
		  
		 <div class="post-bottom-sec"> 
		  <h4>Job Description</h4>
		  <p>Lorem ipsum dolor sit amet, lorem quaestio similique has at, possit vivendum ne nam. Unum saepe ea vim, ius sensibus volutpat et, eum legere nostrum explicari ei. Sed ex legere hendrerit. Ei saperet officiis has, eu usu prompta mandamus. Vix dicat electram ei, ne sea aeterno ornatus perpetua, ne cum omnis voluptua iracundia.</p>
		  <p>Pro munere assueverit id, debitis scaevola omittantur vim ex, qui meis tantas et. Vivendo ponderum id pro. Vidit offendit quaerendum est et, no eos prima tamquam, eu duo ludus noster praesent. Sea cu quod illum. Affert munere ut vis, ponderum gubergren sit ne. Nam at magna homero feugait.</p>
		  <p>Odio laoreet vivendum ex vis. At mentitum assueverit nam, mel ex dolorem tacimates praesent. Saepe nemore duo te, no nec cetero eligendi mnesarchum. Ne congue similique eloquentiam has. Wisi omittantur definitiones vis in.</p>
		  <p>Pertinacia neglegentur vix ne. Illum accusata id quo, vis ex mucius iisque aliquid. Eos meliore interesset id. Ne has fabellas elaboraret.</p>
		  <p>Ne iriure reprimique vel. Ex alii pericula pri, idque veritus ius id. Etiam doctus aperiam cu mea, vel cibo dicunt ad, vim luptatum delicatissimi eu. Diam mentitum explicari no vim, tantas nominavi eos in. Ei pri omnis verterem antiopam.</p>
		  
		  <h4>Responsibilities</h4>
		   <ul class="square">
			<li>Pro munere assueverit id, debitis scaevola omittantur vim ex, qui meis tantas et. Vivendo ponderum id pro!</li>
			<li>Pro munere assueverit id, debitis scaevola omittantur vim ex, qui meis tantas et. Vivendo ponderum id pro.</li>
			<li>Pro munere assueverit id, debitis scaevola omittantur vim ex, qui meis tantas et. Vivendo ponderum id pro.</li>
			<li>Pro munere assueverit id, debitis scaevola omittantur vim ex, qui meis tantas et. Vivendo ponderum id pro!</li>
		   </ul>
          
		  <h4>Job Requirment</h4>
           <ul class="square">
			<li>Ne iriure reprimique vel. Ex alii pericula pri, idque veritus ius id. Etiam doctus aperiam cu mea, vel cibo dicunt ad, vim luptatum delicatissimi eu.</li>
			<li>Ne iriure reprimique vel. Ex alii pericula pri, idque veritus ius id. Etiam doctus aperiam cu mea, vel cibo dicunt ad, vim luptatum delicatissimi eu.</li>
			<li>Ne iriure reprimique vel. Ex alii pericula pri, idque veritus ius id. Etiam doctus aperiam cu mea, vel cibo dicunt ad, vim luptatum delicatissimi eu.</li>
			<li>Ne iriure reprimique vel. Ex alii pericula pri, idque veritus ius id. Etiam doctus aperiam cu mea, vel cibo dicunt ad, vim luptatum delicatissimi eu.</li>
		   </ul>
		
		  <h4>Skills</h4>
		   <span class="label label-success">HTML 5</span>
		   <span class="label label-success">CSS3</span>
		   <span class="label label-success">PHP 5.4</span>
		   <span class="label label-success">Mysql</span>
		   <span class="label label-success">Bootstrap</span>
		
		 </div><!-- /.post-bottom-sec --> <br>
		 
		 <h4>Proposals</h4>
		 
		 <div class="job">	
	  
		  <div class="row top-sec">
		   <div class="col-lg-12">
			<div class="col-lg-2 col-xs-12">
			 <a href="freelancer.html">
			  <img class="img-responsive" src="img/users/5.png" alt="">
			 </a>
			</div><!-- /.col-lg-2 -->
			<div class="col-lg-10 col-xs-12"> 
			 <h4><a href="freelancer.html">Ken Chicharito</a></h4>
			 <h5><i class="fa fa-at"></i> KenChicharito</h5>
			</div><!-- /.col-lg-10 -->
			
		   </div><!-- /.col-lg-12 -->
		  </div><!-- /.row -->
	  
		  <div class="row mid-sec">			 
		   <div class="col-lg-12">			 
		   <div class="col-lg-12">
			<hr class="small-hr">
			<p>I am a Web development expert with over 3 years experience in setup and customization of Responsive Website Design, PHP, WordPress, Magento,java,HTML,CSS ,ios App Develop...</p>
			<span class="label label-success">Java</span>
			<span class="label label-success">Wordpress</span>
			<span class="label label-success">PHP 5.4</span>
			<span class="label label-success">HTML 5</span>
			<span class="label label-success">Magneto</span>
			<span class="label label-success">Joomla</span>
		   </div><!-- /.col-lg-12 -->
		   </div><!-- /.col-lg-12 -->
		  </div><!-- /.row -->
	  
		  <div class="row bottom-sec">
		   <div class="col-lg-12">
			
			<div class="col-lg-12">
			 <hr class="small-hr">
			</div> 
			
			<div class="col-lg-3">
			 <h5> Posted </h5>
			 <p> Apr, 28 2016</p>
			</div>
			<div class="col-lg-2">
			 <h5> Location </h5>
			 <p><i class="fa fa-map-marker"></i> Kenya</p>
			</div>
			<div class="col-lg-2">
			 <h5> Bid </h5>
			 <p>$100</p>
			</div>
			<div class="col-lg-2">
			 <h5> Ratings (12)</h5>
			 <p><i class="fa fa-star"></i>
				<i class="fa fa-star"></i>
				<i class="fa fa-star"></i>
				<i class="fa fa-star"></i>
				<i class="fa fa-star"></i></p>
			</div>
			<div class="col-lg-3">
			 <a href="servicepage.html" class="kafe-btn kafe-btn-mint-small"><i class="fa fa-align-right"></i> View Proposal</a>
			</div>
			
		   </div><!-- /.col-lg-12 -->
		  </div><!-- /.row -->
		 
		 </div><!-- /.job -->
		 
		 <div class="job">	
	  
		  <div class="row top-sec">
		   <div class="col-lg-12">
		   
			<div class="col-lg-2 col-xs-12">
			 <a href="freelancer.html">
			  <img class="img-responsive" src="img/users/3.png" alt="">
			 </a>
			</div><!-- /.col-lg-2 -->
			<div class="col-lg-10 col-xs-12"> 
			 <h4><a href="freelancer.html">John Donga</a></h4>
			 <h5><i class="fa fa-at"></i> JohnDonga</h5>
			</div><!-- /.col-lg-10 -->
			
		   </div><!-- /.col-lg-12 -->
		  </div><!-- /.row -->
	  
		  <div class="row mid-sec">			 
		   <div class="col-lg-12">			 
		   <div class="col-lg-12">
			<hr class="small-hr">
			<p>Experienced in Wordpress,PHP,Mysql.Skilled to manage any wordpress themes,and implementing variety of coding techniques. Also Experienced in Requirement...</p>
			<span class="label label-success">Java</span>
			<span class="label label-success">Wordpress</span>
			<span class="label label-success">PHP 5.4</span>
			<span class="label label-success">HTML 5</span>
			<span class="label label-success">Magneto</span>
			<span class="label label-success">Joomla</span>
		   </div><!-- /.col-lg-12 -->
		   </div><!-- /.col-lg-12 -->
		  </div><!-- /.row -->
	  
		  <div class="row bottom-sec">
		   <div class="col-lg-12">
			
			<div class="col-lg-12">
			 <hr class="small-hr">
			</div> 
			
			<div class="col-lg-3">
			 <h5> Posted </h5>
			 <p> Apr, 28 2016</p>
			</div>
			<div class="col-lg-2">
			 <h5> Location </h5>
			 <p><i class="fa fa-map-marker"></i> Kenya</p>
			</div>
			<div class="col-lg-2">
			 <h5> Bid </h5>
			 <p>$100</p>
			</div>
			<div class="col-lg-2">
			 <h5> Ratings (15) </h5>
			 <p><i class="fa fa-star"></i>
				<i class="fa fa-star"></i>
				<i class="fa fa-star"></i>
				<i class="fa fa-star"></i>
				<i class="fa fa-star"></i></p>
			</div>
			<div class="col-lg-3">
			 <a href="servicepage.html" class="kafe-btn kafe-btn-mint-small"><i class="fa fa-align-right"></i> View Proposal</a>
			</div>
			
		   </div><!-- /.col-lg-12 -->
		  </div><!-- /.row -->
		 
		 </div><!-- /.job -->
		 
		 <div class="page text-center">
		  <ul class="pagination">
		   <li class="disabled"><a href="#">«</a></li>
		   <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
		   <li><a href="#">2</a></li>
		   <li><a href="#">3</a></li>
		   <li><a href="#">4</a></li>
		   <li><a href="#">5</a></li>
		   <li><a href="#">»</a></li>
		  </ul><!-- /.pagination -->
		 </div><!-- /.page -->		 		 
		 
		</div><!-- /.col-lg-8 -->
		
	    <div class="col-lg-4">
		
		 <div class="panel user revealOnScroll" data-animation="slideInUp" data-timeout="200">
		  <div class="row text-center">
		   <a href="freelancer.html">
		    <img src="img/bg/2.jpg" class="img-responsive panel-img" alt="">
            
			<div class="col-xs-12 user-avatar">
             <img src="img/users/1.png" alt="Image" class="img-thumbnail img-responsive">
             <h4>John Doe</h4>
             <p>@JohnDoe</p>
            </div><!-- /.col-xs-12 -->
		   </a>
          </div><!-- /.row -->
		  
		  <div class="list-group">
           <div class="list-group-item">&nbsp;&nbsp;&nbsp;Paid
            <span class="badge">$10K</span>
		   </div><!-- /.list-group-item -->
           <div class="list-group-item">&nbsp;&nbsp;&nbsp;Feedback (4)
            <span class="badge">
		     <i class="fa fa-star"></i>
			 <i class="fa fa-star"></i>
			 <i class="fa fa-star"></i>
			 <i class="fa fa-star"></i>
			 <i class="fa fa-star"></i>
		    </span>
		   </div><!-- /.list-group-item -->
           <div class="list-group-item">&nbsp;&nbsp;&nbsp;Unpaid Invoices
            <span class="badge">1</span>
		   </div><!-- /.list-group-item -->
           <div class="list-group-item">&nbsp;&nbsp;&nbsp;Paid Job
            <span class="badge">5</span>
		   </div><!-- /.list-group-item -->
           <div class="list-group-item">&nbsp;&nbsp;&nbsp;Amount Paid Job
            <span class="badge">$10K</span>
		   </div><!-- /.list-group-item -->
		  </div><!-- /.list-group -->
		 
		 </div><!-- /.list-group-item -->
		
		 <div class="list">
		  <div class="list-group">
           <span class="list-group-item active cat-top">
            <em class="fa fa-fw fa-coffee"></em>&nbsp;&nbsp;&nbsp;Share This Job
		   </span>
           <a href="#" class="list-group-item cat-list">
            <em class="fa fa-fw fa-facebook"></em>&nbsp;&nbsp;&nbsp;Facebook
            <span class="badge">300</span>
		   </a>
           <a href="#" class="list-group-item cat-list">
            <em class="fa fa-fw fa-twitter"></em>&nbsp;&nbsp;&nbsp;Twitter
            <span class="badge">100</span>
		   </a>
           <a href="#" class="list-group-item cat-list">
            <em class="fa fa-fw fa-google-plus"></em>&nbsp;&nbsp;&nbsp;Google +
            <span class="badge">100</span>
		   </a>
          </div><!-- /.list-group -->
		 </div><!-- /.list --> 
		 
		</div><!-- /.col-lg-4 -->
		
	   </div><!-- /.row-->
	  </div><!-- /.container -->  	 
	 </section><!-- /section --> 
	 
     <!-- ==============================================
	 Footer Section
	 =============================================== -->
     <div class="footer">
	  <div class="container">
	   <div class="row">
	  
	    <div class="col-md-4 col-sm-6 text-left">
	     <h4 class="heading no-margin">About Us</h4>
		 <hr class="mint">
		 <p>The Kafe. Template is the Ultimate Freelance Marketplace Template for employers and freelancers to connect, collaborate, and get work done.</p>
		 <p>We work hard to build a great product that is beautifully designed, simple to use, user friendly with great focus on user experience and customer service.</p>
	    </div><!-- /.col-md-4 -->
	   
	    <div class="col-md-2 col-sm-6 text-left">
	     <h4 class="heading no-margin">Company</h4>
		 <hr class="mint">
		 <div class ="no-padding">
		  <a href="index.html">Home</a>
		  <a href="about.html">About</a>
		  <a href="jobs.html">Jobs</a>
		  <a href="services.html">Freelancers</a>
		  <a href="how-1.html">How it works</a>
		  <a href="contact.html">Contact</a>		 
		 </div>
	    </div><!-- /.col-md-2 -->	
		
		<div class="col-md-3 col-sm-6 text-left">
	     <h4 class="heading no-margin">Other Services</h4>
		 <hr class="mint">
		 <div class="no-padding">
		  <a href="#">Privacy Policy</a>
		  <a href="#">Terms of Use</a>
		  <a href="faq.html">FAQ</a>		 
		 </div>
	    </div><!-- /.col-md-3 -->	
		
	    <div class="col-md-3 col-sm-6 text-left">
	    <h4 class="heading no-margin">Browse</h4>
		<hr class="mint">
		 <div class="no-padding">
		   <a href="services.html">Top Freelancers this Month of June</a>
		   <a href="services.html">Top Freelancers by Skill</a>
		   <a href="services.html">Top Freelancers in USA</a>
		   <a href="services.html">Top Freelancers in UK</a>
		   <a href="services.html">Top Freelancers in Australia</a>
		   <a href="services.html">Top Freelancers in Kenya</a>		  
		  </div>
		 </div><!-- /.col-md-3 -->
		 
	    </div><!-- /.row -->
	   <div class="clearfix"></div>
	  </div><!-- /.container-->
     </div><!-- /.footer -->			
	 
	 <!-- ==============================================
	 Made Section
	 =============================================== -->
	 <section class="made">
	  <div class="container">
	   <div class="row">
		<div class="col-lg-10 col-lg-offset-1 text-center">
		 <h4 class="made-with-love">The Kafe. Template</h4>
		 <p class="made-with-love-1">Handcrafted with <i class="fa fa-heart"></i> &amp; Much <i class="fa fa-coffee"></i> In Nairobi, Kenya.</p>
		</div>
		<!-- /.col-lg-10 -->
	   </div><!-- /.row -->
	  </div><!-- /.container -->
     </section><!-- /.made -->
	 
	 <!-- ==============================================
	 Bottom Footer Section
	 =============================================== -->	
     <footer id="main-footer" class="main-footer">
	  <div class="container">
	   <div class="row">
	   
	    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
		 <ul class="social-links">
		  <li class="revealOnScroll" data-animation="slideInLeft" data-timeout="800"><a href="#link"><i class="fa fa-facebook fa-fw"></i></a></li>
		  <li class="revealOnScroll" data-animation="slideInLeft" data-timeout="600"><a href="#link"><i class="fa fa-twitter fa-fw"></i></a></li>
		  <li class="revealOnScroll" data-animation="slideInLeft" data-timeout="400"><a href="#link"><i class="fa fa-google-plus fa-fw"></i></a></li>
		  <li class="revealOnScroll" data-animation="slideInLeft" data-timeout="200"><a href="#link"><i class="fa fa-pinterest fa-fw"></i></a></li>
		  <li class="revealOnScroll" data-animation="slideInLeft"><a href="#link"><i class="fa fa-linkedin fa-fw"></i></a></li>
		 </ul>
		</div>
	    <!-- /.col-sm-4 -->
		
		<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 revealOnScroll" data-animation="bounceIn" data-timeout="200">
		 <div class="img-responsive text-center">
		  <i class="fa fa-coffee logo"></i>		 </div><!-- End image-->
		</div>
		<!-- /.col-sm-4 -->
		
		<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text-right revealOnScroll" data-animation="slideInRight" data-timeout="200">
		 <p>&copy;2016 The Kafe. Template by <a href="http://www.themashabrand.com/templates/Kafe/" target="_blank">The Masha Brand</a></p>
		</div>
		<!-- /.col-sm-4 -->
				
	   </div><!-- /.row -->
	  </div><!-- /.container -->
	 </footer><!-- /.footer -->  
	 
     <a id="scrollup">Scroll</a>
	 
     <!-- ==============================================
	 Scripts
	 =============================================== -->
	 
     <!-- jQuery 2.1.4 -->
     <script src="js/jQuery-2.1.4.min.js"></script>
     <!-- Bootstrap 3.3.6 JS -->
     <script src="js/bootstrap.min.js" type="text/javascript"></script>
     <!-- Waypoints JS -->
     <script src="js/waypoints.min.js" type="text/javascript"></script>
     <!-- Kafe JS -->
     <script src="js/kafe.js" type="text/javascript"></script>

</body>
</html>
