<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en"> 
<!--<![endif]-->
<head>

	    <!-- ==============================================
		Title and Meta Tags
		=============================================== -->
		<meta charset="utf-8">
        <title>The Kafe - Ultimate Freelance Marketplace Template</title>
        <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="description" content="Add your business website description here">
        <meta name="keywords" content="Add your, business, website, keywords, here">
        <meta name="author" content="Add your business, website, author here">
		
		<!-- ==============================================
		Favicons
		=============================================== --> 
		<link rel="shortcut icon" href="img/favicons/favicon.ico">
		<link rel="apple-touch-icon" href="img/favicons/apple-touch-icon.png">
		<link rel="apple-touch-icon" sizes="72x72" href="img/favicons/apple-touch-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="114x114" href="img/favicons/apple-touch-icon-114x114.png">
		
	    <!-- ==============================================
		CSS
		=============================================== -->
        <!-- Style-->
        <link href="css/style.css" rel="stylesheet" type="text/css" />
				
		<!-- ==============================================
		Feauture Detection
		=============================================== -->
		<script src="js/modernizr-custom.js"></script>
		
		<!--[if lt IE 9]>
		 <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->		
		
</head>

<body class="greybg">

     <!-- ==============================================
	 Navbar
	 =============================================== -->
	 <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
       <!-- Brand and toggle get grouped for better mobile display -->
	   <a class="navbar-brand"><i class="fa fa-coffee"></i> The Kafe.</a>
       <input type="checkbox" id="toggle" />
	   <label for="toggle" class="toggle"></label>

       <!-- Collect the nav links, forms, and other content for toggling -->
		<ul class="menu">
		 <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Home <b class="caret"></b></a>
		  <ul class="dropdown-menu">
		   <li><a href="index.html">Home #1</a></li>
		   <li><a href="index-2.html">Home #2</a></li>
		   <li><a href="index-3.html">Home #3</a></li>
		  </ul>
		 </li> 	
		 <li><a href="about.html">About</a></li>
		 <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Jobs <b class="caret"></b></a>
		  <ul class="dropdown-menu">
		   <li><a href="jobs.html">Jobs</a></li>
		   <li><a href="jobpost.html">Job Post</a></li>
		  </ul>
		 </li>    
		 <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Freelancers <b class="caret"></b></a>
		  <ul class="dropdown-menu">
		   <li><a href="services.html">Services</a></li>
		   <li><a href="servicepage.html">Service Page</a></li>
		   <li><a href="freelancer.html">Freelancer Profile</a></li>
		  </ul>
		 </li> 
		 <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">How it works <b class="caret"></b></a>
		  <ul class="dropdown-menu">
		   <li><a href="how-1.html">How #1</a></li>
		   <li><a href="how-2.html">How #2</a></li>
		  </ul>
		 </li> 
		 <li><a href="login.html">Login</a></li>
		 <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Register <b class="caret"></b></a>
		  <ul class="dropdown-menu">
		   <li><a href="signup.html">Sign Up</a></li>
		   <li><a href="register.html">Register</a></li>
		  </ul>
		 </li> 
		 <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Pages <b class="caret"></b></a>
		  <ul class="dropdown-menu">
		    <li><a href="contact.html">Contact</a></li>
			<li><a href="blog.html">Blog</a></li>
			<li><a href="blogpage.html">Blog Page</a></li>
			<li><a href="faq.html">FAQ</a></li>
		  </ul>
		 </li> 	
		</ul><!-- /.ul.menu -->
      </div><!-- /.container -->
     </nav><!-- /.nav -->
	 
	 
     <!-- ==============================================
	 Header
	 =============================================== -->	 
     <header class="header-jobs">
      <div class="container">
	   <div class="content">
	    <div class="row">
		 <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
		  <a href="login.html" class="kafe-btn kafe-btn-mint full-width revealOnScroll" data-animation="bounceIn" data-timeout="400"><i class="fa fa-tags"></i> Post a Job, It’s Free!</a>
		 </div><!-- /.col-lg-3 -->
        </div><!-- /.row -->
       </div><!-- /.content -->
	  </div><!-- /.container -->
     </header><!-- /header -->
	 
     <!-- ==============================================
	 Jobs Section
	 =============================================== -->
     <section class="jobslist">
	  <div class="container-fluid">
	   <div class="row-fluid">
	   
	    <div class="col-lg-4">
		
		 <div class="list">
		  <div class="list-group">
		  
           <span class="list-group-item active cat-top">
            <em class="fa fa-fw fa-coffee text-white"></em>&nbsp;&nbsp;&nbsp;Categories
            <span class="badge">200+</span>
		   </span>
           <a href="jobs.html" class="list-group-item cat-list">
            <em class="fa fa-fw fa-code text-muted"></em>&nbsp;&nbsp;&nbsp;Web Development & IT
            <span class="badge text-red-bg">50+</span>
		   </a>
           <a href="jobs.html" class="list-group-item cat-list">
            <em class="fa fa-fw fa-eye text-muted"></em>&nbsp;&nbsp;&nbsp;Design, Art & Multimedia
            <span class="badge text-red-bg">15</span>
		   </a>
           <a href="jobs.html" class="list-group-item cat-list">
            <em class="fa fa-fw fa-pencil text-muted"></em>&nbsp;&nbsp;&nbsp;Writing & Translation
            <span class="badge text-red-bg">10</span>
		   </a>
           <a href="jobs.html" class="list-group-item cat-list">
            <em class="fa fa-fw fa-cogs text-muted"></em>&nbsp;&nbsp;&nbsp;Admin Support
            <span class="badge text-red-bg">10</span>
		   </a>
           <a href="jobs.html" class="list-group-item cat-list">
            <em class="fa fa-fw fa-table text-muted"></em>&nbsp;&nbsp;&nbsp;Management & Finance
            <span class="badge text-red-bg">10</span>
		   </a>
           <a href="jobs.html" class="list-group-item cat-list">
            <em class="fa fa-fw fa-bullhorn text-muted"></em>&nbsp;&nbsp;&nbsp;Sales & Marketing
            <span class="badge text-red-bg">10</span>
		   </a>
           <a href="jobs.html" class="list-group-item cat-list">
            <em class="fa fa-fw fa-wrench text-muted"></em>&nbsp;&nbsp;&nbsp;Engineering & Architecture
            <span class="badge text-red-bg">10</span>
		   </a>
           <a href="jobs.html" class="list-group-item cat-list">
            <em class="fa fa-fw fa-legal text-muted"></em>&nbsp;&nbsp;&nbsp;Legal
            <span class="badge text-red-bg">10</span>
		   </a>
           <a href="jobs.html" class="list-group-item cat-list">
            <em class="fa fa-fw fa-bars text-muted"></em>&nbsp;&nbsp;&nbsp;Other
            <span class="badge text-red-bg">10</span>
		   </a>
		   
          </div><!-- /.list-group -->
		 </div><!-- /.list --> 
		
		 <div class="list">
		  <div class="list-group">
		  
           <span class="list-group-item active cat-top">
            <em class="fa fa-fw fa-coffee text-white"></em>&nbsp;&nbsp;&nbsp;Job Type
		   </span>
           <a href="jobs.html" class="list-group-item cat-list">
            <em class="fa fa-fw fa-check-circle text-muted"></em>&nbsp;&nbsp;&nbsp;Hourly
            <span class="badge text-red-bg">300</span>
		   </a>
           <a href="jobs.html" class="list-group-item cat-list">
            <em class="fa fa-fw fa-check-circle text-muted"></em>&nbsp;&nbsp;&nbsp;Fixed
            <span class="badge text-red-bg">100</span>
		   </a>
		 
          </div><!-- /.list-group -->
		 </div> <!-- /.list -->	
		
		 <div class="list">
		  <div class="list-group">
		  
           <span class="list-group-item active cat-top">
            <em class="fa fa-fw fa-coffee text-white"></em>&nbsp;&nbsp;&nbsp;Project Length
		   </span>
           <a href="jobs.html" class="list-group-item cat-list">
            <em class="fa fa-fw fa-check-circle-o text-muted"></em>&nbsp;&nbsp;&nbsp;Hours or Days
            <span class="badge text-red-bg">300</span>
		   </a>
           <a href="jobs.html" class="list-group-item cat-list">
            <em class="fa fa-fw fa-check-circle-o text-muted"></em>&nbsp;&nbsp;&nbsp;Weeks
            <span class="badge text-red-bg">100</span>
		   </a>
           <a href="jobs.html" class="list-group-item cat-list">
            <em class="fa fa-fw fa-check-circle-o text-muted"></em>&nbsp;&nbsp;&nbsp;Months
            <span class="badge text-red-bg">100</span>
		   </a>
           <a href="jobs.html" class="list-group-item cat-list">
            <em class="fa fa-fw fa-check-circle-o text-muted"></em>&nbsp;&nbsp;&nbsp;> 6 months
            <span class="badge text-red-bg">100</span>
		   </a>
           <a href="jobs.html" class="list-group-item cat-list">
            <em class="fa fa-fw fa-check-circle-o text-muted"></em>&nbsp;&nbsp;&nbsp;Not Specified
            <span class="badge text-red-bg">100</span>
		   </a>
		 
          </div><!-- /.list-group -->
		 </div><!-- /.list -->	
		 		
		</div><!-- /.col-lg-4 -->
	    <div class="col-lg-8 white">	
		
		 <form action="#" method="get" class="list-search revealOnScroll" data-animation="fadeInDown" data-timeout="200">
		  <button><i class="fa fa-search"></i></button>
		  <input type="text" class="form-control" placeholder="Job title, keywords or company name" value=""/>
		  <div class="clearfix"></div>
		 </form>

		  <h6>We found 100 jobs matching: Web Development & IT</h6>
		  	
		 <div class="job">	
		  
		  <div class="row top-sec">
		   <div class="col-lg-12">
			<div class="col-lg-2 col-xs-12">
			 <a href="freelancer.html">
			  <img class="img-responsive" src="img/users/1.png" alt="">
			 </a>
			</div><!-- /.col-lg-2 -->
			<div class="col-lg-10 col-xs-12"> 
			 <h4><a href="jobpost.html">Code Ebay store and listing design to be mobile responsive.</a></h4>
			 <h5>John Doe <small>@JohnDoe</small></h5>
			</div><!-- /.col-lg-10 -->
			
		   </div><!-- /.col-lg-12 -->
		  </div><!-- /.row -->
		  
		  <div class="row mid-sec">			 
		   <div class="col-lg-12">			 
		   <div class="col-lg-12">
			<hr class="small-hr">
			<p>Description of every page/module: I have a PSD ebay store and listing design in photoshop that needs to be sliced and coded for eBay to be mobile responsive. Description of requirements/features: Mobile Responsive Ebay store and listing design...</p>
			<span class="label label-success">HTML 5</span>
			<span class="label label-success">CSS3</span>
			<span class="label label-success">PHP 5.4</span>
			<span class="label label-success">Mysql</span>
			<span class="label label-success">Bootstrap</span>
		   </div><!-- /.col-lg-12 -->
		   </div><!-- /.col-lg-12 -->
		  </div><!-- /.row -->
		  
		  <div class="row bottom-sec">
		   <div class="col-lg-12">
			
			<div class="col-lg-12">
			 <hr class="small-hr">
			</div> 
			
			<div class="col-lg-2">
			 <h5> Posted </h5>
			 <p>4 Hours Ago</p>
			</div>
			<div class="col-lg-2">
			 <h5> Location </h5>
			 <p><i class="fa fa-map-marker"></i> Kenya</p>
			</div>
			<div class="col-lg-2">
			 <h5> Budget </h5>
			 <p>$220</p>
			</div>
			<div class="col-lg-2">
			 <h5> Applicants </h5>
			 <p>15</p>
			</div>
			<div class="col-lg-4">
			 <a href="jobpost.html" class="kafe-btn kafe-btn-mint-small"><i class="fa fa-align-left"></i> Send Proposal</a>
			</div>
			
		   </div><!-- /.col-lg-12 -->
		  </div><!-- /.row -->
		 
		 </div><!-- /.job -->
	
		 <div class="job">	
		  
		  <div class="row top-sec">
		   <div class="col-lg-12">
			<div class="col-lg-2 col-xs-12">
			 <a href="freelancer.html">
			  <img class="img-responsive" src="img/users/2.png" alt="">
			 </a>
			</div><!-- /.col-lg-2 -->
			<div class="col-lg-10 col-xs-12"> 
			 <h4><a href="jobpost.html">I need an architect for exterior design of a duplex house.</a></h4>
			 <h5>Co-Founder and CEO of <a href="http://www.themashabrand.com" target="_blank">The Masha Brand</a></h5>
			</div><!-- /.col-lg-10 -->
			
		   </div><!-- /.col-lg-12 -->
		  </div><!-- /.row -->
		  
		  <div class="row mid-sec">			 
		   <div class="col-lg-12">			 
		   <div class="col-lg-12">
			<hr class="small-hr">
			<p>Design details: Ultra modern 3D for both interior and exterior of the duplex house. The design must be STRIKING visually without necessarily being expensive. Orbiting view is welcomed but not mandatory. Ideas for the visual style: must be ultra modern without being necsessarily expensive...</p>
			<span class="label label-success">Design</span>
			<span class="label label-success">3D Modelling</span>
			<span class="label label-success">Architect Design</span>
			<span class="label label-success">Ultra modern Designs</span>
		   </div><!-- /.col-lg-12 -->
		   </div><!-- /.col-lg-12 -->
		  </div><!-- /.row -->
		  
		  <div class="row bottom-sec">
		   <div class="col-lg-12">
			
			<div class="col-lg-12">
			 <hr class="small-hr">
			</div> 
			
			<div class="col-lg-2">
			 <h5> Posted </h5>
			 <p>4 Hours Ago</p>
			</div>
			<div class="col-lg-2">
			 <h5> Location </h5>
			 <p><i class="fa fa-map-marker"></i> Kenya</p>
			</div>
			<div class="col-lg-2">
			 <h5> Budget </h5>
			 <p>$1000</p>
			</div>
			<div class="col-lg-2">
			 <h5> Applicants </h5>
			 <p>5</p>
			</div>
			<div class="col-lg-4">
			 <a href="jobpost.html" class="kafe-btn kafe-btn-mint-small"><i class="fa fa-align-left"></i> Send Proposal</a>
			</div>
			
		   </div><!-- /.col-lg-12 -->
		  </div><!-- /.row -->
		 
		 </div><!-- /.job -->
		 
		 <div class="job">	
		  
		  <div class="row top-sec">
		   <div class="col-lg-12">
			<div class="col-lg-2 col-xs-12">
			 <a href="freelancer.html">
			  <img class="img-responsive" src="img/users/3.png" alt="">
			 </a>
			</div><!-- /.col-lg-2 -->
			<div class="col-lg-10 col-xs-12"> 
			 <h4><a href="jobpost.html">1 or 2 max minute software product promotion video.</a></h4>
			 <h5>Co-Founder and CEO of <a href="http://www.themashabrand.com" target="_blank">The Masha Brand</a></h5>
			</div><!-- /.col-lg-10 -->
			
		   </div><!-- /.col-lg-12 -->
		  </div><!-- /.row -->
		  
		  <div class="row mid-sec">			 
		   <div class="col-lg-12">			 
		   <div class="col-lg-12">
			<hr class="small-hr">
			<p>Need to create promotional video for our software product with background voice with foreign English accent. The video can be 1 or max. 2 minutes in length. 90% will be about product demo and 10% about company. Price is not negotiable...</p>
			<span class="label label-success">Photoshop</span>
			<span class="label label-success">Design</span>
			<span class="label label-success">Graphic Design</span>
			<span class="label label-success">Abobe Ilustrator</span>
			<span class="label label-success">Video Edit</span>
		   </div><!-- /.col-lg-12 -->
		   </div><!-- /.col-lg-12 -->
		  </div><!-- /.row -->
		  
		  <div class="row bottom-sec">
		   <div class="col-lg-12">
			
			<div class="col-lg-12">
			 <hr class="small-hr">
			</div> 
			
			<div class="col-lg-2">
			 <h5> Posted </h5>
			 <p>4 Hours Ago</p>
			</div>
			<div class="col-lg-2">
			 <h5> Location </h5>
			 <p><i class="fa fa-map-marker"></i> Kenya</p>
			</div>
			<div class="col-lg-2">
			 <h5> Budget </h5>
			 <p>$100</p>
			</div>
			<div class="col-lg-2">
			 <h5> Applicants </h5>
			 <p>30</p>
			</div>
			<div class="col-lg-4">
			 <a href="jobpost.html" class="kafe-btn kafe-btn-mint-small"><i class="fa fa-align-left"></i> Send Proposal</a>
			</div>
			
		   </div><!-- /.col-lg-12 -->
		  </div><!-- /.row -->
			 
		 </div><!-- /.job -->	 
		 
		 <div class="job">	
		  
		  <div class="row top-sec">
		   <div class="col-lg-12">
			<div class="col-lg-2 col-xs-12">
			 <a href="freelancer.html">
			  <img class="img-responsive" src="img/users/4.png" alt="">
			 </a>
			</div><!-- /.col-lg-2 -->
			<div class="col-lg-10 col-xs-12"> 
			 <h4><a href="jobpost.html">SEO Copyediting for Website.</a></h4>
			 <h5>Co-Founder and CEO of <a href="http://www.themashabrand.com" target="_blank">The Masha Brand</a></h5>
			</div><!-- /.col-lg-10 -->
			
		   </div><!-- /.col-lg-12 -->
		  </div><!-- /.row -->
		  
		  <div class="row mid-sec">			 
		   <div class="col-lg-12">			 
		   <div class="col-lg-12">
			<hr class="small-hr">
			<p>We have the contents ready and would only need help to optimise it for SEO. You do not need to work on contents from scratch. It would also help greatly if you have the SEO expertise and can advise us on how to maximise the copy...</p>
			<span class="label label-success">SEO</span>
			<span class="label label-success">Copy Editing</span>
			<span class="label label-success">Fast Typing</span>
		   </div><!-- /.col-lg-12 -->
		   </div><!-- /.col-lg-12 -->
		  </div><!-- /.row -->
		  
		  <div class="row bottom-sec">
		   <div class="col-lg-12">
			
			<div class="col-lg-12">
			 <hr class="small-hr">
			</div> 
			
			<div class="col-lg-2">
			 <h5> Posted </h5>
			 <p>4 Hours Ago</p>
			</div>
			<div class="col-lg-2">
			 <h5> Location </h5>
			 <p><i class="fa fa-map-marker"></i> Kenya</p>
			</div>
			<div class="col-lg-2">
			 <h5> Budget </h5>
			 <p>$600</p>
			</div>
			<div class="col-lg-2">
			 <h5> Applicants </h5>
			 <p>30</p>
			</div>
			<div class="col-lg-4">
			 <a href="jobpost.html" class="kafe-btn kafe-btn-mint-small"><i class="fa fa-align-left"></i> Send Proposal</a>
			</div>
			
		   </div><!-- /.col-lg-12 -->
		  </div><!-- /.row -->
		 
		 </div><!-- /.job -->	 
		 
		 <div class="job">	
		  
		  <div class="row top-sec">
		   <div class="col-lg-12">
			<div class="col-lg-2 col-xs-12">
			 <a href="freelancer.html">
			  <img class="img-responsive" src="img/users/5.png" alt="">
			 </a>
			</div><!-- /.col-lg-2 -->
			<div class="col-lg-10 col-xs-12"> 
			 <h4><a href="jobpost.html">I need my current WordPress plugin UX updated (mock up, etc.).</a></h4>
			 <h5>Co-Founder and CEO of <a href="http://www.themashabrand.com" target="_blank">The Masha Brand</a></h5>
			</div><!-- /.col-lg-10 -->
			
		   </div><!-- /.col-lg-12 -->
		  </div><!-- /.row -->
		  
		  <div class="row mid-sec">			 
		   <div class="col-lg-12">			 
		   <div class="col-lg-12">
			<hr class="small-hr">
			<p>I have a fully functioning WordPress plugin. It is quite rough looking though. I need it too look more polished...</p>
			<span class="label label-success">Wordpress</span>
			<span class="label label-success">Plugins</span>
		   </div><!-- /.col-lg-12 -->
		   </div><!-- /.col-lg-12 -->
		  </div><!-- /.row -->
		  
		  <div class="row bottom-sec">
		   <div class="col-lg-12">
			
			<div class="col-lg-12">
			 <hr class="small-hr">
			</div> 
			
			<div class="col-lg-2">
			 <h5> Posted </h5>
			 <p>2 Hours Ago</p>
			</div>
			<div class="col-lg-2">
			 <h5> Location </h5>
			 <p><i class="fa fa-map-marker"></i> Kenya</p>
			</div>
			<div class="col-lg-2">
			 <h5> Budget </h5>
			 <p>$300</p>
			</div>
			<div class="col-lg-2">
			 <h5> Applicants </h5>
			 <p>10</p>
			</div>
			<div class="col-lg-4">
			 <a href="jobpost.html" class="kafe-btn kafe-btn-mint-small"><i class="fa fa-align-left"></i> Send Proposal</a>
			</div>
			
		   </div><!-- /.col-lg-12 -->
		  </div><!-- /.row -->
		 
		 </div><!-- /.job -->		 	 
		 
		 <div class="page text-center">
		  <ul class="pagination">
		   <li class="disabled"><a href="#">«</a></li>
		   <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
		   <li><a href="#">2</a></li>
		   <li><a href="#">3</a></li>
		   <li><a href="#">4</a></li>
		   <li><a href="#">5</a></li>
		   <li><a href="#">»</a></li>
		  </ul><!-- /.pagination -->
		 </div><!-- /.page -->
		 
	    </div><!-- /.col-lg-8 -->
	   </div><!-- /.row -->
	  </div><!-- /.container-fluid -->
     </section><!-- /section -->  	 
	  
     <!-- ==============================================
	 Footer Section
	 =============================================== -->
     <div class="footer">
	  <div class="container">
	   <div class="row">
	  
	    <div class="col-md-4 col-sm-6 text-left">
	     <h4 class="heading no-margin">About Us</h4>
		 <hr class="mint">
		 <p>The Kafe. Template is the Ultimate Freelance Marketplace Template for employers and freelancers to connect, collaborate, and get work done.</p>
		 <p>We work hard to build a great product that is beautifully designed, simple to use, user friendly with great focus on user experience and customer service.</p>
	    </div><!-- /.col-md-4 -->
	   
	    <div class="col-md-2 col-sm-6 text-left">
	     <h4 class="heading no-margin">Company</h4>
		 <hr class="mint">
		 <div class ="no-padding">
		  <a href="index.html">Home</a>
		  <a href="about.html">About</a>
		  <a href="jobs.html">Jobs</a>
		  <a href="services.html">Freelancers</a>
		  <a href="how-1.html">How it works</a>
		  <a href="contact.html">Contact</a>		 
		 </div>
	    </div><!-- /.col-md-2 -->	
		
		<div class="col-md-3 col-sm-6 text-left">
	     <h4 class="heading no-margin">Other Services</h4>
		 <hr class="mint">
		 <div class="no-padding">
		  <a href="#">Privacy Policy</a>
		  <a href="#">Terms of Use</a>
		  <a href="faq.html">FAQ</a>		 
		 </div>
	    </div><!-- /.col-md-3 -->	
		
	    <div class="col-md-3 col-sm-6 text-left">
	    <h4 class="heading no-margin">Browse</h4>
		<hr class="mint">
		 <div class="no-padding">
		   <a href="services.html">Top Freelancers this Month of June</a>
		   <a href="services.html">Top Freelancers by Skill</a>
		   <a href="services.html">Top Freelancers in USA</a>
		   <a href="services.html">Top Freelancers in UK</a>
		   <a href="services.html">Top Freelancers in Australia</a>
		   <a href="services.html">Top Freelancers in Kenya</a>		  
		  </div>
		 </div><!-- /.col-md-3 -->
		 
	    </div><!-- /.row -->
	   <div class="clearfix"></div>
	  </div><!-- /.container-->
     </div><!-- /.footer -->			
	 
	 <!-- ==============================================
	 Made Section
	 =============================================== -->
	 <section class="made">
	  <div class="container">
	   <div class="row">
		<div class="col-lg-10 col-lg-offset-1 text-center">
		 <h4 class="made-with-love">The Kafe. Template</h4>
		 <p class="made-with-love-1">Handcrafted with <i class="fa fa-heart"></i> &amp; Much <i class="fa fa-coffee"></i> In Nairobi, Kenya.</p>
		</div>
		<!-- /.col-lg-10 -->
	   </div><!-- /.row -->
	  </div><!-- /.container -->
     </section><!-- /.made -->
	 
	 <!-- ==============================================
	 Bottom Footer Section
	 =============================================== -->	
     <footer id="main-footer" class="main-footer">
	  <div class="container">
	   <div class="row">
	   
	    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
		 <ul class="social-links">
		  <li class="revealOnScroll" data-animation="slideInLeft" data-timeout="800"><a href="#link"><i class="fa fa-facebook fa-fw"></i></a></li>
		  <li class="revealOnScroll" data-animation="slideInLeft" data-timeout="600"><a href="#link"><i class="fa fa-twitter fa-fw"></i></a></li>
		  <li class="revealOnScroll" data-animation="slideInLeft" data-timeout="400"><a href="#link"><i class="fa fa-google-plus fa-fw"></i></a></li>
		  <li class="revealOnScroll" data-animation="slideInLeft" data-timeout="200"><a href="#link"><i class="fa fa-pinterest fa-fw"></i></a></li>
		  <li class="revealOnScroll" data-animation="slideInLeft"><a href="#link"><i class="fa fa-linkedin fa-fw"></i></a></li>
		 </ul>
		</div>
	    <!-- /.col-sm-4 -->
		
		<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 revealOnScroll" data-animation="bounceIn" data-timeout="200">
		 <div class="img-responsive text-center">
		  <i class="fa fa-coffee logo"></i>		 </div><!-- End image-->
		</div>
		<!-- /.col-sm-4 -->
		
		<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text-right revealOnScroll" data-animation="slideInRight" data-timeout="200">
		 <p>&copy;2016 The Kafe. Template by <a href="http://www.themashabrand.com/templates/Kafe/" target="_blank">The Masha Brand</a></p>
		</div>
		<!-- /.col-sm-4 -->
				
	   </div><!-- /.row -->
	  </div><!-- /.container -->
	 </footer><!-- /.footer -->  
	 
     <a id="scrollup">Scroll</a>
	 
     <!-- ==============================================
	 Scripts
	 =============================================== -->
	 
     <!-- jQuery 2.1.4 -->
     <script src="js/jQuery-2.1.4.min.js"></script>
     <!-- Bootstrap 3.3.6 JS -->
     <script src="js/bootstrap.min.js" type="text/javascript"></script>
     <!-- Waypoints JS -->
     <script src="js/waypoints.min.js" type="text/javascript"></script>
     <!-- Kafe JS -->
     <script src="js/kafe.js" type="text/javascript"></script>

</body>
</html>
