{% extends "layout.html" %}

{% block body %}
     <!-- ==============================================
	 Header
	 =============================================== -->
     <header class="header-jobs" style="height:22vh">
      <div class="container">
	   <div class="content" style="margin-top:100px">
	    <div class="row">
		 <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
		  <a href="login.html" style="margin-top:0;" class="kafe-btn kafe-btn-mint full-width revealOnScroll" data-animation="bounceIn" data-timeout="400"><i class="fa fa-tags"></i> Post a mission, It’s Free!</a>
		 </div><!-- /.col-lg-3 -->
        </div><!-- /.row -->
       </div><!-- /.content -->
	  </div><!-- /.container -->
     </header><!-- /header -->

     <!-- ==============================================
	 Jobs Section
	 =============================================== -->
     <section class="jobslist" id="jobsApp">
	  <div class="container-fluid">
	   <div class="row-fluid">

	    <div class="col-lg-4">

		 <div class="list">
		  <div class="list-group">

           <span class="list-group-item active cat-top">
            <em class="fa fa-fw fa-building text-white"></em>&nbsp;&nbsp;&nbsp;Companies
						&nbsp;<a v-if="company" @click="filterForCompany(null)">(Reset company filter)</a>
						</button>
            <!-- <span class="badge">1</span> -->
		   		 </span>
					 {% for company in companies %}
           <a href="#" class="list-group-item cat-list" @click="filterForCompany('{{company._id}}', '{{company.name}}')">
            &nbsp;&nbsp;&nbsp;{{company.name}}
            <!-- <span class="badge text-red-bg">50+</span> -->
		   		 </a>
					 {% endfor %}
          </div><!-- /.list-group -->
		 </div><!-- /.list -->

		</div><!-- /.col-lg-4 -->
	    <div class="col-lg-8 white" style="padding-bottom:30px">

		 <div class="list-search revealOnScroll" data-animation="fadeInDown" data-timeout="200">
		  <button @click="fetchMissions()">
				<i class="fa fa-spinner" v-if="loading"></i>
				<i class="fa fa-search" v-if="!loading"></i>
			</button>
		  <input type="text" class="form-control" placeholder="Job title, keywords or company name" v-model="query" @keyup.enter="fetchMissions()"/>
		  <div class="clearfix"></div>
		</div>

		  <h6>We found ${count} mission<span v-if="count > 1">s</span>
				${queryInfo}
				<a v-if="queryInfo" @click="reset">(reset)</a>
			</h6>

		 <div class="mission" v-for="mission in missions">

		  <div class="row top-sec">
		   <div class="col-lg-12">
			<!-- <div class="col-lg-2 col-xs-12">
			 <a href="freelancer.html">
			  <img class="img-responsive" src="img/users/1.png" alt="">
			 </a>
			</div> -->
			<div class="col-lg-12 col-xs-12">
			 <h4><a href="jobpost.html">${mission.title}</a></h4>
			 <h5>${mission.company.name} <small>(proposed by ${mission.account.name})</small></h5>
			</div><!-- /.col-lg-10 -->

		   </div><!-- /.col-lg-12 -->
		  </div><!-- /.row -->

		  <div class="row mid-sec">
		   <div class="col-lg-12">
		   <div class="col-lg-12">
			<span class="label label-success" v-for="keyword in mission.keywords">${keyword}</span>
			<hr style="border-top: 1px solid white;">
		   </div><!-- /.col-lg-12 -->
		   </div><!-- /.col-lg-12 -->
		  </div><!-- /.row -->


		  <div class="row bottom-sec">
				<div class="col-lg-12">
			<div class="col-md-3">
			 <h5> <i class="fa fa-clock"></i> Posted </h5>
			 <p>${toDateString(mission._created)}</p>
			</div>
			<div class="col-md-3">
			 <h5> <i class="fa fa-pie-chart"></i> Equity </h5>
			 <p>
				 ${mission.equity_percent}%</p>
			</div>
			<div class="col-md-3">
			 <h5> <i class="fa fa-users"></i> Applicants </h5>
			 <p>0</p>
			</div>
			<div class="col-md-3">
			 <a href="jobpost.html" class="kafe-btn kafe-btn-mint-small" style="width:100%"><i class="fa fa-align-left"></i> Apply</a>
			</div>
		</div>

		  </div><!-- /.row -->

		 </div><!-- /.job -->

	    </div><!-- /.col-lg-8 -->
	   </div><!-- /.row -->
	  </div><!-- /.container-fluid -->
     </section><!-- /section -->

		 <script type="text/javascript">
		 var jobsApp = new Vue({
			 el: '#jobsApp',
			 delimiters: ['${', '}'],
			 data: {
				 company: null,
				 query: null,
				 count: 0,
				 missions: [],
				 loading: false,
				 queryInfo: null
			 },
			 methods: {
				 toDateString: function(dateStr) {
					 return new Date(dateStr).toDateString();
				 },
				 fetchMissions: function() {
					 this.loading = true;
					 var apiQuery = {find: {}, relations: {account: {}, company: {}}};
					 if (this.query) {
						 var regexClause = {"$regex": this.query};
						 apiQuery.find = {
							 "$or": [{company_name: regexClause}, {title: regexClause}, {keywords: regexClause}]
						 };
					 }
					 if (this.company) {
						 apiQuery.find = {"$and": [apiQuery.find, {company: this.company._id}]};
					 }
					 var self = this;
					 axios
			       .get('/api/missions?query=' + JSON.stringify(apiQuery))
			       .then(function(response) {
							 console.log("api resp", response);
							 self.count = response.data._count;
							 self.missions = response.data._items;
							 self.loading = false;
							 if (self.company || self.query) {
							   self.queryInfo = '( ';
								 if (self.company) {
									 self.queryInfo += 'company = ' + self.company.name;
									 if (self.company && self.query) {
										 self.queryInfo += " AND ";
									 }
								 }
								 if (self.query) {
									 self.queryInfo += 'query = ' + self.query;
								 }
								 self.queryInfo += ' )';
							 } else {
								 self.queryInfo = "";
							 }
						 });
				 },
				 filterForCompany: function(companyId, companyName) {
					 var company = companyId ? {_id: companyId, name: companyName} : null;
					 this.company = company;
					 this.fetchMissions();
				 },
				 reset: function() {
					 this.query = null;
					 this.company = null;
					 this.fetchMissions();
				 }
			 },
			 mounted: function() {
		     this.fetchMissions()
		   }
		 });
		 </script>

{% endblock %}
